#App {
  padding: 20px;
}

.input-platform {
  display: flex;
  flex-direction: row;
}

label {
  text-transform: uppercase;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.preview-wrapper {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.icon-wrapper,
.cover-wrapper,
.screens-wrapper {
  padding: 10px;
}

h2 {
  margin: 0;
}

.dresser-image {
  width: 100px;
  height: 100px;
}


.button-generate {
  height: 50px;
  width: 100px;
}